# ==========================
# Application URLs
# ==========================
DEV_UI_URL=
QA_UI_URL=
STAGE_UI_URL=
PROD_UI_URL=

# ==========================
# api URLs
# ==========================
DEV_API_URL=
QA_API_URL=
STAGE_API_URL=
PROD_API_URL=

# ==========================
# Credentials (optional - use Jenkins secrets instead in real setups)
# ==========================
USERNAME=
PASSWORD=

API_KEY_DEV=
API_KEY_QA=
